[submodule "third_party/Micro-XRCE-DDS-Agent"]
	path = third_party/Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "third_party/PX4-Autopilot"]
	path = third_party/PX4-Autopilot
	url = https://github.com/limshoonkit/PX4-Autopilot.git
	branch = pr_sitl_isaacsim
[submodule "example/ros2_offboard_ws/src/px4_msg"]
	path = example/ros2_offboard_ws/src/px4_msg
	url = https://github.com/PX4/px4_msgs.git
[submodule "example/ros2_offboard_ws/src/px4_ros2_offboard"]
	path = example/ros2_offboard_ws/src/px4_ros2_offboard
	url = https://github.com/limshoonkit/px4_ros2_offboard.git
[submodule "example/ros2-px4-agent-ws"]
	path = example/ros2-px4-agent-ws
	url = https://github.com/limshoonkit/ros2-px4-agent-ws/
